.container-tabs {
  border-bottom: 1px solid #ddd;

  .card {
    border: none;
  }

  .card-title-id {
    color: #7367f0;
    font-weight: 700;
  }

  .material-icons {
    font-size: 24px;
    color: #6e6b7b;
  }

  .card-header {
    background-color: #e9ecef;
    display: flex;
    justify-content: space-between;
    border: none;
    height: 41px;
    padding: 15px;
  }

  .nav-tabs-container {
    background-color: #e9ecef;
    display: flex;
    justify-content: center;

    .nav-tabs {
      list-style-type: none;
      display: flex;

      .nav-item {
        margin-right: 10px;

        .nav-link {
          background-color: #e9ecef;
          color: #6e6b7b;
          border: none;

          &.active {
            background-color: #e9ecef;
            border-bottom: 2px solid #7367f0;
            color: #6e6b7b;
            font-weight: 700;
          }
        }
      }
    }
  }
}